button {
	background-color: #fef3b1;
	color: #fe713d;
	font-weight: bold;
	border: none;
	border-radius: 3px !important;
	margin-bottom: 10px !important;
}

img {
	border: 1px solid #fef3b1;
	border-radius: 5px !important;
	width: 100%;
	max-width: 200px;
	height: auto;
}

h2 {
	font-size: 25px !important;
}
